.navbar {
    margin-top: 3vh;
    height: 5vh;
    margin-bottom: 3vh;
  }

  .navbar-brand {
    font-size: 40px !important;
    position: absolute;
    margin-left: 4vw;
  }

  .nav-link {
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-left: 20px;
    margin-right: 20px;

    color: black !important;
  }

  
  .nav-icon a {
    
    margin-right: 4vw !important;
  }

  .far {
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: black;
  }
  .nav-icon {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-between;
  }
  
  #menuToggle {
    display: flex;
    flex-direction: column;
    
    position: relative;
    z-index: 5;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 4vw !important;
  }

  #menuToggle input {
    display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 6;
  }

  #menuToggle span
  {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 7px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 5;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(0px, 1px);
  background: #36383F;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


  #mobile-nav {
    position: absolute;
    width: 100vw;
    height: 101vh;
    box-shadow: 0 0 10px #85888C;
    top: -6vh;
    right: -104vw;
    background-color: #F5F6FA;
    -webkit-font-smoothing: antialiased;
    transition: cubic-bezier(0.77,0.2,0.05,1.0);
    transition: 1s;
    margin: 0 !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .navactive
  {
    transform: translate(-100vw,0);
    position: absolute;
    width: 100vw;
    height: 101vh;
    justify-content: center;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    transition: cubic-bezier(0.77,0.2,0.05,1.0);
    transition: 1s;


  }
  #menuToggle input:checked ~ body
  {
    position: fixed !important;
    height: 100vh !important;
    overflow-y: hidden !important;
}


  

  .navactive li {
    transition: 2s !important;
  }

  .hidden { display: none !important; }