@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: 0;
    box-shadow: none !important;
    font-weight: 400;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    

}


::-webkit-scrollbar {
    display: none;
}


/*********************************************Navbar and Header*************************************************/

li {
    list-style-type: none !important;
}


.header {
    height: 89vh;
    background: -webkit-linear-gradient(to right, #43607e, #3498db); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #43607e, #3498db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    align-items: center;
    flex-direction: column;
}

.h1-header {
    font-size: 128px;
    font-weight: bold;
    line-height: 112px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    margin-top: 25vh;
}

.h3-header {
    color: white;
    font-size: 30px;
    margin-top: 100px;
}


@media only screen and (min-width:768px) and (max-width:1201px) {
    .h1-header {
        font-size: 75px;
    }
    .row-header 
    {
        width: 60vw !important;
    }
}

@media only screen and (max-width:767px) {
    .h1-header {
        font-size: 50px;
    }
    .row-header 
    {
        width: auto !important;
    }
}

/***********************************BLOG POST******************************/

.blog-post-h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 110.5%;
  /* or 53px */

  text-align: center;
  letter-spacing: 0.03em;
}

.img-fluid {
    border-radius: 6px;
}

#blog-post {
    margin-top: 100px;
}

.post {
    display: block;
    margin: 50px 10%;

}

.h3-article {
    font-weight: 600;
    font-size: 25px;
    font-family: 'Roboto';
}
.team {
    margin-top: 20px;
}

.time-post {
    margin-top: 15px;
}

.post-text {
    margin: auto 0;
}

.btn {
    border: 1px solid white !important; 
    margin-right: 15px;
}

.link {
    color: black;
    text-decoration: none !important;
}

.readmore-btn {
    border: 1px solid black !important;
    width: 200px !important;
    height: 40px !important;
    background: transparent !important;
    border-radius: 0% !important;
    margin-top: 10px;
    
}


.readmore-btn:hover {
    

    background-color: #71A89E !important;
    color: white !important;
    border: 1px grey solid !important;
    transition: 0.5s !important;
    

}

.link:hover {
    color: white !important;
}

/***********************************FOOTER******************************/

.end-footer {

    margin-top: 100px;
    background-color: #23272b;
    height: auto;
    margin-bottom: 0;

}

.h1-footer {
    color: white;
    text-align: center;
    font-weight: 400;
    padding: 50px 0 0px 0;
    
}

.main-footer {
    text-align: center;
    color: white;
    font-weight: bold;
    margin: 0;
    margin-top: 30px;
    padding: 50px 0 50px 0;
    text-transform: uppercase;
}

.line-text {
    text-align: center;
    position: relative;
 }
 
 .line-text:before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: var(--gray);
 }
 
 .line-text span {
    display: inline-block;
    background-color: #23272b;
    color: white;
    position: relative;
    z-index: 2;
    padding: 1rem;
    font-weight: 600;
 }
      