@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: 0;
    box-shadow: none !important;
    font-weight: 400;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    

}


::-webkit-scrollbar {
    display: none;
}


/*********************************************Navbar and Header*************************************************/

li {
    list-style-type: none !important;
}


.header {
    height: 89vh;
    background: -webkit-linear-gradient(to right, #43607e, #3498db); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #43607e, #3498db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    align-items: center;
    flex-direction: column;
}

.h1-header {
    font-size: 128px;
    font-weight: bold;
    line-height: 112px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    margin-top: 25vh;
}

.h3-header {
    color: white;
    font-size: 30px;
    margin-top: 100px;
    line-height: 45px;
}


@media only screen and (min-width:768px) and (max-width:1380px) {
    
    .row-header 
    {
        width: 55vw !important;
    }
    #form-header {
        width: 300px;
    }
}

@media only screen and (min-width:768px) and (max-width:1250px) {
    .h1-header {
        font-size: 75px;
    }
    .row-header 
    {
        width: 60vw !important;
    }
    #form-header {
        width: 25vw !important;
    }
}

@media only screen and (max-width:767px) {
    .h1-header {
        font-size: 50px;
    }

    .h3-header {
        text-align: center;
        font-size: 20px !important;
        font-weight: 300;
    }
    .row-header 
    {
        width: auto !important;
    }

    #form-header {
        width: 300px !important;
    }

    .form-header {
        display: flex;
        justify-content: center;
        margin-top: 20px !important;
    }
}

#form-header::placeholder {
    color: white;
    opacity: 50%;
}

/***********************************BLOG POST******************************/



.blog-post {
    margin-bottom: 50px;
    
}

.inner {
    margin: 0 !important;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.5) !important;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inner-text {
    max-width: 90%;
    margin-top: 40px;
}


.img-post {
    max-width:100%;
    max-height:100%;
    object-fit: cover !important;
    overflow: hidden;
}

.h3-post {
    font-size: 15px;
    color: #3777bb;
}

.span-h3-post {
    color: rgb(61, 61, 61);
    padding-left: 5px;
    font-size: 14px;
    font-weight: 500;
}



.team {
    margin-top: 20px;
}



.link {
    color: black;
    text-decoration: none !important;
}

.readmore-btn {
    border: 1px solid black !important;
    width: 200px !important;
    height: 40px !important;
    background: transparent !important;
    border-radius: 0% !important;
    margin-top: 10px;
    
}


.readmore-btn:hover {
    

    background-color: #71A89E !important;
    color: white !important;
    border: 1px grey solid !important;
    transition: 0.5s !important;
    

}

.link:hover {
    color: white !important;
}

/***********************************FOOTER******************************/
