* {
    font-family: DM Sans;
}

.team-header {
    margin-top: 250px;
    height: auto;
}


.team-h1 {
    font-family: DM Sans;
    font-style: bold;
    font-weight: 500;
    font-size: 55px;
    line-height: 97.2%;
    /* or 58px */

    letter-spacing: -0.03em;

    /* Main Black */

    color: #363333;
}

.team-p {
    /* Heading-2 */
    margin-top: 0px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 117%;
    /* or 37px */

    letter-spacing: -0.03em;

    color: #272626;
}


/****************************member*****************************/


.absolute {
    display: grid;
}

.each-member {
    margin-top: 150px;
    border-bottom: 2px solid black;
}

.team-img {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.member-h5 {
    margin-top: 15px;
}

.member-p{
    margin-top: 20px;
}

.fab {
    font-size: 30px;
}

.fa-facebook-f:hover {
    transition-duration: 300ms;
    color:#4267B2;
}

.fa-twitter:hover {
    transition-duration: 300ms;
    color:#1DA1F2;
}

.fa-linkedin-in:hover {
    transition-duration: 300ms;
    color:#2867B2;
}

.fa-instagram:hover {
    transition-duration: 300ms;
    color:#F56040;
}

.fa-github:hover {
    transition-duration: 300ms;
    color:#AD5C51;
}

.link {
    text-decoration: none;
}

.text {
    align-self: start;
}
.social-media {
    display: flex;
    align-self: end;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 35px;
}

li{
    list-style-type: disc;
    list-style-position: inside;

}

@media only screen and (max-width: 768px) {
    
    .team-header {
        margin-top: 200px;
        height: auto;
    }
}